button, .btn-primary {
        background-color:#B3997F;
        border-color:  #B3997F;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        
        
    }
    .btn-secondary{
      background-color: #6DA0B3;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border-color: lawngreen;
      
    }
    h2, h4{
     color:#4289BE;
   }
   button, .btn-danger{
    background-color: #6DA0B3;
    border-color:  #6DA0B3;
   }
   button, .btn-success{
     background-color:  #6DA0B3;
   }
   .btn-primary:hover{
  
text-decoration: none;
     }
